.container{
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 3px solid #0655a3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #1A1A40;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(245, 240, 240);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: gray;
}

.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ead7d7;
  border-radius: 5px;
}

.form-button {
  padding: 10px;
  background-color: #375ac3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.form-button:disabled {
  background-color: #ccc;
}

.form-error {
  text-align: center;
  color: red;
}

.switch-link {
  text-align: center;
  margin-top: 10px;
}

.switch-link a {
  color: #007BFF;
  text-decoration: none;
}

.switch-link a:hover {
  text-decoration: underline;
}